<h1>All Conversations:</h1>

<% @conversations.each do |conversation| %>
    <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
        <% if conversation.sender_id == current_user.id %>
            <% recipient = User.find(conversation.recipient_id) %>
        <% else %>
            <% recipient = User.find(conversation.sender_id) %>
        <% end %>
        <div class="row text-center">
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="" alt="">
                    <%= link_to image_tag(Profile.find_by(user_id: recipient.id).picture, width: 200), conversation_messages_path(conversation)%>
                    <div class="card-body">
                        <h4 class="card-title"><%= Profile.find_by(user_id: recipient.id).name %></h4>
                        <p class="card-text"><%= Profile.find_by(user_id: recipient.id).age %></p>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
<% end %>

