<h1>Search results:</h1>
<p><%= link_to 'Back', new_search_path %></p>

<% if @search.search_profiles.empty? %>
    <p> No Records found </p>

    <% else %>
    <% @search.search_profiles.each do |c| %>
        <br>
        <div class="div">
        <h1><%= c.name %></h1>
        </div>
    <% end %>
<% end %>