<%= form_tag subscriber_path(1), method: :put do %>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key=<%= Rails.application.credentials.stripe[:publishable_key] %>
        data-description= "A month's subscription"
        data-amount="499">
    </script>
    <br><br>
    <p style="font-size:1.5em">
        $4.99 one-off payment for lifelong premium membership, allowing you to send messages to other users.
    </p>
<% end %>