<h1>About Planetlike</h1>
<p>Planetlike was created to bring people together on a global scale.  Why limit yourself to connecting locally when there are 7 billion people out there?</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
